  
@font-face { 
	font-family: 'DM Mono', monospace;
	src: url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap'); 
	webkit-font-smoothing: antialiased;
}


.bg-black {
	background-color: #1a1a1a
}


@media only screen and (min-width: 601px) {
.text {
	font-family: 'DM Mono', monospace;
	color: #c6c6c6;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4em;
	letter-spacing: .1em;
	padding-left: 15%;
	padding-top: 30%;
	max-width: 50%;

	delay: 2s;
	animation: fadein 2s;
	-webkit-animation: fadein 2s;
  }
}

@media only screen and (max-width: 600px) {
.text {
	font-family: 'DM Mono', monospace;
	color: #c6c6c6;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6em;
	letter-spacing: .1em;
	padding-top: 20%;
	padding-left: 10%;
	max-width: 65%;

	delay: 2s;
	animation: fadein 2s;
	-webkit-animation: fadein 2s;
  }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


a {
	color: #c6c6c6;
	text-decoration: underline;
}

a:hover {
	color: #ffff00;
	text-decoration: none;
}

a:visited {
	color: #c6c6c6;
	text-decoration: underline;
}


a:visited:hover {
	color: #ffff00;
	text-decoration: none;
}

::selection {
  background: #ffff00;
  color: #1a1a1a;
}
